<div class="pokedek">
  <div class="pokedek__content">
    <div *ngIf="information$ | async as information; else loadingError" class="pokedek__info">
      <div class="pokedek__info__content" *ngIf="imageLoaded$ | async; else loaderSecond">
        <small class="pokedek__info__small">{{ information.generation.name.default }}</small>
        <h2 class="pokedek__info__name">
          {{ information.name.default }}<small>#{{ information.id }}</small>
        </h2>
        <p class="pokedek__info__description">
          {{ information.description }}
        </p>

        <span>height: {{ information.height }}m</span><br />
        <span>weight: {{ information.weight }}kg</span>

        <span class="pokedek__info__water-mark">{{ information.name.original }}</span>
      </div>
      <app-picture
        [src]="information.image.default"
        [alt]="information.name.default"
        class="pokedek__info__image"
        (loaded)="onImageLoaded($event)"
      >
      </app-picture>
    </div>

    <ng-template #loadingError>
      <div class="pokedek__info__content" *ngIf="error$ | async as paramsId; else loading">
        <div class="pokedek__error-content">
          <img src="./assets/images/ash-meme-ffuu-edited.png" class="pokedek__error-image" />
          <p class="pokedek__error-text">
            This pokémon "<span>{{ paramsId }}</span
            >" doesn't exist, guy!
          </p>
        </div>
      </div>
      <ng-template #loading>
        <app-pokeball-loader class="pokedek__loader"><span>Loading...</span></app-pokeball-loader>
      </ng-template>
    </ng-template>
    <ng-template #loaderSecond>
      <app-pokeball-loader class="pokedek__loader"><span>Loading...</span></app-pokeball-loader>
    </ng-template>
  </div>

  <app-poke-select class="pokedek__select"></app-poke-select>
</div>
