.menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
  margin: 10px;
}

.content {
  position: relative;
}

.loading-lazy-component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
