<mat-progress-bar
  mode="indeterminate"
  class="loading-lazy-component"
  *ngIf="loading"
></mat-progress-bar>

<div class="menu">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">
      <span>Home</span>
    </button>
    <button
      mat-menu-item
      routerLink="pokedek"
      routerLinkActive="active"
      #linkActive="routerLinkActive"
      [disabled]="linkActive.isActive"
    >
      <span>Pokedek</span>
    </button>
    <button
      mat-menu-item
      routerLink="started"
      routerLinkActive="active"
      #linkActivee="routerLinkActive"
      [disabled]="linkActivee.isActive"
    >
      <span>Started page</span>
    </button>
  </mat-menu>
</div>

<router-outlet></router-outlet>
