<img src="./assets//images/logo.png" alt="Angular Pokedek" class="home__logo" />

<form class="home__form">
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Pick one Pokémon"
      aria-label="Pokémon"
      [formControl]="formControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onSelectedValue($event)"
      autoActiveFirstOption
    >
      <mat-option
        *ngFor="let option of filteredOptions$ | async"
        [value]="option.id"
        class="home__option"
      >
        <img [src]="option.imageIcon" [alt]="option.name" lazySrcLoad />
        {{ option.name }} #{{ option.id }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
