@import '../../assets/styles/mixins/index.scss';

.home {
  @include element('form') {
    width: 100%;
    max-width: 360px;
    font-size: 24px;

    .mat-form-field {
      width: 100%;
    }
    .mat-form-field-label {
      text-align: center;
    }

    .mat-input-element {
      text-align: center;
    }
  }

  @include element('option') {
    &.mat-option {
      padding: 8px 16px;
      height: auto;
      text-transform: capitalize;
    }
  }
}
